.form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem;
}

.form-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    width: 80%;
}

.background {
    background-color: #efefef;
    border-radius: 5px;
}
.form-title {
    padding: 30px;
    margin: 0px;
    margin-bottom: 20px;
    position: relative;
    
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 30px;
    
    display: flex;
    text-align: center;
    align-items: right;
    width: 1000px;
    color: #fca311;
    background-color: #0F192E;
}
