.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.form-element {
    padding: 20px 20px 0px 20px;
    width: 150vh;
}
    margin-top: 20px;
    min-height: 1000px;
}