.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.form-element {
    padding: 20px 20px 0px 20px;
    width: 100vh;
}

.form-title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 30px;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #0F192E;
}
