.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 2rem 0;
    background-color:#e5e5e5;
    border-radius: 6px;
    box-shadow: 8px 10px hsl(37, 98%, 53%);
}

.post-title {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 0rem;
    background-color: #0F192E;
    color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.post-body {
    font-size: 1rem;
    font-family: "Open Sans";
    font-weight: 300;
    color: #0F192E;
    margin: 0px;
    padding: 1rem;
    background-color: #e5e5e5;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}


#tags-post {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
    background-color: #e5e5e5;
    border-bottom: 2px solid #0F192E;
    margin: 0px;
}

.tag-post {
	width: auto;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #0F192E;
	padding: 0 8px;
	font-size: 14px;
	list-style: none;
	border-radius: 6px;
	background: #fca311;
    margin: 0 8px 8px 0;
}

.tag-label-post {
    width: auto;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #0F192E;
	padding: 0 8px;
	font-size: 17px;
	list-style: none;
	border-radius: 6px;
}
