.home-title {
    padding: 30px;
    margin-bottom: 20px;
    position: relative;
    
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 30px;
    
    display: flex;
    text-align: center;
    align-items: right;
    width: 100%;
    color: #fca311;
    background-color: #0F192E;
}

.tags-input-bar {
	display: block;
	align-items: left;
	flex-wrap: wrap;
	min-height: 48px;
	width: 90%;
	padding: 0 8px 8px;
	border: 1px solid #fff;
	border-radius: 6px;
}



.padding {
    margin: 20px;
}

.border {
    border: 5px solid #0F192E;
    border-radius: 5px;
}