.full-site {
    display: flex;
    justify-content: space-around;
}

.full-site-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.side-bar {
    padding: 10px 30px;
    background-color: #e5e5e5;
    width: min-content;
    min-height: 100vh;
    border-right: 5px solid #0F192E;
    text-align: center;
}

.site-title {
    margin: 10px;
    position: relative;
    width: 210px;
    height: 56px;
    
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 30px;
    
    display: flex;
    text-align: center;
    align-items: center;
    
    color: #0F192E;
}

.site-title:hover {
    color: #233A6C;
    text-decoration: none;
}

.logo {
    width: 150px;
    height: 150px;
    /*align-items: center;*/
}

.body {
    background-color: #fff;
}

.hidingBlock {
    background-color: #fff;
    height: 30px;
}


.colorBlock {
    background-color: #14213D;
    height: 400px;
    padding-top: 1500px;
    width: 100%;
}

